# Necessary is just the auth secret and postgres_url which is already setup

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=secret

POSTGRES_URL="postgresql://postgres:password@localhost:5434/neutralbase_app"

# None of the following need to be changed if you do not want to add licensing, auth, or usage and that template can be found elsewhere

BLOB_READ_WRITE_TOKEN=****

REDIS_URL=****

POLAR_ACCESS_TOKEN=***

POLAR_SERVER=sandbox

METRONOME_BEARER_TOKEN=***

BETTER_AUTH_SECRET=***
BETTER_AUTH_URL=***

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=***
CLERK_SECRET_KEY=***

AUTH_PROVIDER=*** # clerk || better-auth
NEXT_PUBLIC_AUTH_PROVIDER=*** # clerk || better-auth

NEXT_PUBLIC_API_URL=***
